 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  position: relative;
  z-index: 10;
}

.logo img {
  height: 32px;
}

.nav-links a {
  margin: 0 12px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.location-btn {
  background: #ff2b85;
  color: #fff;
  border: none;
  padding: 15px 20px 15px 20px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
}
.location-btn:hover {
  background: #eb5b99;
}
.search i {
  font-size: 20px;
}

/* HERO */
.hero {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bg-video__content {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -2;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: -1;
}

.hero-content {
  position: relative;
  color: #fff;
  padding-left: 60px;
}

.hero-content h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.1;
}

.content p {
  font-size: 40px;
  font-weight: bolder;
  padding: 80px 0 0 80px;
  margin-bottom: 50px;
  font-family: popins;
}




.delivery-section {
  padding: 90px 0;
  background: #fff;
}

.delivery-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 0 40px;
}

/* LEFT SIDE */
.delivery-image-box {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery-image-box img {
  max-width: 100%;
  height: auto;
}

/* RIGHT SIDE */
.delivery-content {
  flex: 1;
}

.delivery-content h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delivery-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 30px;
  font-family: poppins;
  max-width: 520px;
}

.about-btn {
  background: #e21b70;
  color: #fff;
  border: none;
  padding: 14px 34px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.about-btn:hover {
  background: #eb5b99;
}


.convenience-section {
  padding: 90px 0;
  background: #fff;
}

.convenience-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 40px;
}

/* LEFT */
.convenience-content {
  flex: 1;
}

.convenience-content h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.convenience-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  max-width: 480px;
  margin-bottom: 30px;
  font-family: poppins;
}

.store-buttons {
  display: flex;
  gap: 14px;
}

.store-buttons img {
  height: 44px;
  cursor: pointer;
}


.why-partner {
  padding: 60px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Exactly 4 columns */
  gap: 25px;
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  height: 20;
  border-radius: 8px;
}

/* Responsive for tablets */
@media (max-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on tablet */
  }
}

/* Responsive for mobile */
@media (max-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr; /* 1 card per row on mobile */
  }
}


/* RIGHT */
.convenience-image {
  flex: 1;
}

.convenience-image img {
  width: 100%;
  border-radius: 4px;
}


.site-footer {
  background: #000;
  color: #fff;
  padding: 80px 40px 30px;
  position: relative;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1300px;
  margin: auto;
}

.footer-brand img {
  width: 150px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-col ul li a:hover {
  color: #ff2b85;
}
.footer-col h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.social-icons a {
  font-size: 20px;
  margin-right: 15px;
  color: #fff;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ff2b85;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  font-size: 14px;
  border-top: 1px solid #222;
  padding-top: 20px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  font-family: poppins;
}
.footer-bottom p {
  font-family: poppins;
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ff2b85;
  color: #fff;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}



@media (max-width: 480px) {

  /* NAVBAR */
  .navbar {
    padding: 12px 16px;
  }

  .nav-links {
    display: none;
  }

  .location-btn {
    padding: 10px 16px;
    font-size: 12px;
  }

  /* HERO */
  .hero {
    height: 65vh;
  }

  .hero-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-content h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  /* TEXT SECTION */
  .content p {
    font-size: 18px;
    padding: 30px 20px;
  }

  /* DELIVERY + CONVENIENCE */
  .delivery-container,
  .convenience-container {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }

  .delivery-image-box {
    height: auto;
  }

  .delivery-content h2,
  .convenience-content h2 {
    font-size: 28px;
  }

  .delivery-content p,
  .convenience-content p {
    font-size: 14px;
  }

  .store-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

    /* FOOTER */
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }


}
@media (max-width: 768px) {

   .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .nav-links a {
    font-size: 13px;
  }

  .nav-right {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    height: 75vh;
  }

  .hero-content h1 {
    font-size: 48px;
  }

  .content p {
    font-size: 22px;
    padding: 40px;
  }

  .delivery-container,
  .convenience-container {
    flex-direction: column;
    gap: 40px;
  }
 

  
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer-brand {
    grid-column: span 2;
    text-align: center;
  }
}
@media (max-width: 1024px) {

  .hero-content h1 {
    font-size: 60px;
  }

  .delivery-container,
  .convenience-container {
    gap: 40px;
  }
}
